<?xml version="1.0" encoding="UTF-8" ?>
<Configuration name="WTCS-Data-Systems-Logger" strict="true" status="info">
  <!-- Sets up a configuration named "WTCS-Data-Systems-Logger,"
       using strict XML syntax for the configuration file,
       with internal Log4j2 level is set to INFO. -->

  <!-- Properties can be referenced elsewhere with StrLookup-interface style syntax. -->
  <Properties>
    <Property name="pattern.default">%d %-4r [%t] %-5p %c %x - %m%n</Property>
    <Property name="logs.intellij">${log4j:configParentLocation}/../../log</Property>
    <Property name="logs.tomcat">$${env:CATALINA_HOME}/logs</Property>
  </Properties>

  <!-- Set up two appenders: CONSOLE (System.out/STDOUT) and the IntelliJ project log directory.
       Note that since the Maven layout in IntelliJ puts the log directory in the same relative
       position versus both src and test, the same config file works for both unless differently
       named log files are desired. -->
  <Appenders>
    <Appender type="Console" name="CONSOLE">
      <Layout type="PatternLayout">
        <Pattern>${pattern.default}</Pattern>
      </Layout>
    </Appender>
    <Appender type="File" name="LOGS_INTELLIJ" fileName="${logs.intellij}/wtcs-data-systems-validators.log">
      <Layout type="PatternLayout">
        <Pattern>${pattern.default}</Pattern>
      </Layout>
    </Appender>

    <!-- Might work for logging to the Tomcat log directory. -->
    <!--<Appender type="File" name="LOGS_TOMCAT" fileName="${logs.tomcat}/wtcs-data-systems-validators.log">
      <Layout type="PatternLayout">
        <Pattern>${pattern.default}</Pattern>
      </Layout>
    </Appender>-->
  </Appenders>

  <!-- Set up just the root logger with main appenders. -->
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="CONSOLE" />
      <AppenderRef ref="LOGS_INTELLIJ" />
    </Root>
  </Loggers>

</Configuration>